1

In [6]:
cotxe = {"marca" : "toyota", "model" : "Land cruiser", "any" : 1986}
print(cotxe)
print(cotxe["model"])
cotxe["color"] = "Oliva"
cotxe["any"] = 1985
print(cotxe)
del cotxe["color"]
print(len(cotxe))
list(cotxe.keys())

{'marca': 'toyota', 'model': 'Land cruiser', 'any': 1986}
Land cruiser
{'marca': 'toyota', 'model': 'Land cruiser', 'any': 1985, 'color': 'Oliva'}
3

['marca', 'model', 'any']

2

In [14]:
alumne = {"nom" : "pepito" , "edat" : 15 , "notes" : [6, 7, 9, 2, 5]}
alumne["notes"].append(4)
print(alumne)
print(alumne["notes"][1])
alumne["nom"] = "juanjo"
print(alumne)
suma = sum(alumne["notes"])
mitjana = sum(alumne["notes"])/len(alumne["notes"])
print(suma)
print(mitjana)

{'nom': 'pepito', 'edat': 15, 'notes': [6, 7, 9, 2, 5, 4]}
7
{'nom': 'juanjo', 'edat': 15, 'notes': [6, 7, 9, 2, 5, 4]}
33
5.5

3

In [1]:
preus = {"pa" : 1 , "sindria" : 4, "pollo 1/2" : 5, "pollo entero" : 8}
print(preus["pa"])
preus["coca-cola"] = 1
print(preus)
productes = [a for a in preus.keys()]
print(productes)
valors = [a for a in preus.values()]
print(valors)
print(max(valors))

1
{'pa': 1, 'sindria': 4, 'pollo 1/2': 5, 'pollo entero': 8, 'coca-cola': 1}
['pa', 'sindria', 'pollo 1/2', 'pollo entero', 'coca-cola']
[1, 4, 5, 8, 1]
8

4

In [4]:
nom = input("Escriu el teu nom:")
edat = input("Escriu la teva Edat(anys):")
adreça = input("Escriu la teva Adreça:")
telefon = input("Escriu el teu Telèfon:")
print(f"{nom} te {edat} anys, viu a {adreça} i el seu numero de telèfon es: {telefon}")

a te a anys, viu a a i el seu numero de telèfon es: a

5

In [32]:
credits = {"Matematiques":8, "Fisica":5, "Quimica": 3, "Historia" : 6, "Tecnologia":4, "Llengua Castellana":3, "Llengua Catalana":9}
ass = [a for a in credits.keys()]
print(ass)
print(f"{ass[0]} te {credits[ass[0]]} credits")
print(f"{ass[1]} te {credits[ass[1]]} credits")
print(f"{ass[2]} te {credits[ass[2]]} credits")
print(f"{ass[3]} te {credits[ass[3]]} credits")
print(f"{ass[4]} te {credits[ass[4]]} credits")
print(f"{ass[5]} te {credits[ass[5]]} credits")
print(f"{ass[6]} te {credits[ass[6]]} credits")
#assignatura = input("De quina assignatura voldries revisar els crèdits?")
#print(f"{assignatura} té {credits[assignatura]} credits")

['Matematiques', 'Fisica', 'Quimica', 'Historia', 'Tecnologia', 'Llengua Castellana', 'Llengua Catalana']
Matematiques te 8 credits
Fisica te 5 credits
Quimica te 3 credits
Historia te 6 credits
Tecnologia te 4 credits
Llengua Castellana te 3 credits
Llengua Catalana te 9 credits

6

In [40]:
contactes = {"Juan":{"Telefon":667233892,"Adreça": "C/calàbria, 233"}, "Jose Fernandez": {"Telefon":645744455, "adreça": "c/tapioles, 12"}}
print(contactes["Juan"]["Telefon"], contactes["Juan"]["Adreça"], contactes["Jose Fernandez"]["Telefon"], contactes["Jose Fernandez"]["adreça"])

667233892 C/calàbria, 233 645744455 c/tapioles, 12

7

In [50]:
classe = {"albert":{"notes":[2, 5, 7, 8, 3, 6], "edat":17}, "joan":{"notes":[5, 8, 9, 8, 10, 6], "edat":18}}
classe["Jordi"] = {"edat":15, "notes":[6, 7, 9, 4, 7, 8]}
print(classe)
mitjana_jordi = sum(classe["Jordi"]["notes"])/len(classe["Jordi"]["notes"])
print(mitjana_jordi)

{'albert': {'notes': [2, 5, 7, 8, 3, 6], 'edat': 17}, 'joan': {'notes': [5, 8, 9, 8, 10, 6], 'edat': 18}, 'Jordi': {'edat': 15, 'notes': [6, 7, 9, 4, 7, 8]}}
6.833333333333333